  {%extends "base.html" %} 




  {% block pageContent %} 
  
  
  <div class="row">
    <div class="col opacBgnd">
      <h6 class="center heb">
        הדרקון מתואר באופן שונה בתרבויות השונות. הידעתם שדרקון מוזכר גם בתרבויות השמיות ? יש המזהים את הדרקון עם הלווייתן שמופיע בספר ישעיהו ואיוב ובתלמוד פעמים רבות. בנוסף, המרדכי מפרש כי הדרקון הנזכר במשנה הוא "נחש בריח בשמים, ושמו תלי הגדול ומושל במזלות". בתלמוד הבבלי, מוזכרת המילה "דרקון" אבל במשמעות של נחש. לדוגמה (קטע מאגדות החורבן במסכת גיטין נ"ו עמוד ב'):
אמר ליה: אילו חבית של דבש ודרקון כרוך עליה, לא היו שוברין את החבית בשביל דרקון?
        <br><br> 
       בתרבות האירופאית : אזכורים ראשונים לדרקונים בתרבות המערב ניתן למצוא במיתולוגיה היוונית. הדרקון במיתולוגיה היוונית היה מפלצת לטאית איומה, אשר שמרה על מקומות קדושים או קסומים כגון עץ תפוחי הזהב של ההספריאדות או גיזת הזהב. הדרקון לא תואר כמפלצת נושפת אש, ולא ניחן בכוח הדיבור או בתבונה יתרה.
        <br><br>
       בניגוד לדמותו המאיימת במיתולוגיה המערבית, הדרקון זכה ליחס חיובי בהרבה במזרח הרחוק. הדרקון בתרבות המיסטית אומר כוח, שלמות, חוכמה וידע. חלק גדול מהדתות והמנהגים הקדומים במזרח ייחסו את הדרקונים לפנתיאון שכונה "המועצה השמימית". במסגרת פנתיאון זה, הדרקונים נתפסו בתור מעין רוחות טבע, אשר אחראיות לתופעות כגון סופות, גשמי ברכה, רעידות אדמה ואפילו הבשלת יבולים.

הדרקון המזרחי תואר לרוב כיצור לטאי בעל גוף ארוך ונחשי, ללא גפיים או עם זוג רגליים קטנות, ללא כנפיים, ועם גדילים דמויי שפם בקצה חרטומו.

היחס לדרקון היה סגידה מעורבת בפחד והערצה. לכל דרקון יוחס תחום אחריות והוקם מזבח, כאשר בהתאם לצורך הקריבו לו קורבנות כגון פרחים, קטורת ולעיתים חפצי אומנות. הדרקון נחשב סמל מביא מזל, ולכן הוא מופיע על פריטים רבים מתקופות קדומות במזרח.
                <br> 
        
      </h6>
    </div>
  </div>

 {% endblock %}