  {%extends "base.html" %} 

  {% block pageContent %} 
  <div class="row" id="mainScreen1">
    <div class="col opacBgnd">
      <h2 class="center heb">
שמי אביב ומאז שאני זוכר את עצמי אני "מת" על דרקונים...
        <br><br> 
        דרקונים הם יצור אגדי המופיע בסיפורים של תרבויות רבות. מראה הדרקון שונה במקצת מתרבות לתרבות אך לרוב הוא מתואר כזוחל(נחש או לטאה) עם כנפיים. לדרקון בדרך כלל ניחן בכוחות מיוחדים כמו לירוק אש מפיו, להפוך לבלתי נראה, שינוי גודל , הטלת קסמים וכישופים ועוד, כיד הדמיון הטובה.
        <br><br>
        באתר הזה אנסה לחשוף מעט את העולם המופלא והמרתק של הדרקון
                <br> 
        
      </h2>
    </div>
  </div>
 {% endblock %}