  {%extends "base.html" %} 




  {% block pageContent %} 
  <div class="row">
    <div class="col opacBgnd">
      <h4 class="center heb">
      בגלל ההילה הקסומה שלהם סרטים וספרים רבים מוסיפים דרקונים לעלילה שלהן.
        <br><br> 
        "הדרקון הראשון שלי" הוא אחד מהם אבל תתפלאו אולי לגלות כמה עוד יש. "מולאן", "מעוף הדרקונים" ,"הארי פוטר" סדרת "משחקי הכס", "מרלין","מעוף הדרקונים"(קלאסיקה), "שר הטבעות","שרק","מליפיסנט","ווילו והנסיכה","ההוביט","הסיפור שאינו נגמר","לב הדרקון" ועוד ועוד...
        <br><br>
        בסקירה הקצרה שעשיתי גיליתי יותר מ 500 סרטים ,ספרים, סדרות ומשחקי מחשב  המשלבים דרקון כחלק מרכזי ביצירה. דמות הדרקון עוזרת כנראה לצופים ולקוראים "להיכנס לעלילה".
                <br> 
        
      </h4>
    </div>
  </div>

 {% endblock %}