  {%extends "base.html" %} 




  {% block pageContent %} 
  
  <div class="row">
    <div class="col opacBgnd">
      <h4 class="center heb">
        היום ידועים למדע סוגים שונים של חיות (בעיקר לטאות אבל לא רק) המתכבדות בשם "דרקון". למשל - דרקון קומודו - לטאת ענק חזקה וארסית היא דוגמה ראשית. גם השפירית הקטנה מכונה "זבוב הדרקון" בלעז והדרקון המעופף - לטאה הדואה מעץ לעץ ע"י מתיחת קפל עור המשמש ככנף
        <br><br> 
        <div class="row">
          <div class="col ">
            <img src="/static/img/komodo.jpg" class="img-fluid" alt="komodo dragon">
          </div>
          <div class="col ">
            <img src="/static/img/flying-dragon.jpg" class="img-fluid" alt="flying dragon">
          </div>
          <div class="col ">
            <img src="/static/img/dragonfly.jpg" class="img-fluid" alt="dragonfly">
          </div>
        </div>
        <br><br>
        יש עוד הרבה - 
        אולי גם אתם פגשתם מתישהו חיה שנתנה השראה לדרקון דמיוני?
                <br> 
        
      </h4>
    </div>
  </div>

 {% endblock %}